@codeRedColor: #c8102e;

#createAttendee {

	margin: 0 auto;
	text-align: center;
	overflow: hidden;

	.page-header {
		background-color: @codeRedColor;
		h1,h2,h3,h4,h5,h6 {
			color: #fff;
		}
	}


	.form-horizontal {
		background-color: @codeRedColor;
		height: 700px;
	}
}

