<div id="createAttendee" class="shadow-z-3" data-ng-controller="AttendeesController">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h2>Apply to CodeRED LIFTOFF</h2>
				<h3>We will be reviewing and accepting applications on a rolling basis.</h3>
				<h4>Fields marked with * are required</h4>
			</div>

			<form name="newAttendee" class="form-horizontal attendeeForm" data-ng-submit="create()" novalidate>
				<fieldset>
					<div class="form-group">
						<span class="input input--fumi" ng-class="{'input--filled':attendee.firstName}">
							<input ng-model="attendee.firstName" class="input__field input__field--fumi" type="text" id="input-fName" required>
							<label class="input__label input__label--fumi" for="input-fName">
								<i class="fa fa-fw fa-user icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">First Name*</span>
							</label>
						</span>
					</div>
					<div class="form-group">
						<span class="input input--fumi" ng-class="{'input--filled':attendee.lastName}">
							<input ng-model="attendee.lastName" class="input__field input__field--fumi" type="text" id="input-lName" required>
							<label class="input__label input__label--fumi" for="input-lName">
								<i class="fa fa-fw fa-user icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Last Name*</span>
							</label>
						</span>
					</div>
					<div class="form-group">
						<span class="input input--fumi" ng-class="{'input--filled':attendee.email}">
							<input ng-model="attendee.email" class="input__field input__field--fumi" type="text" id="input-email" required>
							<label class="input__label input__label--fumi" for="input-email">
								<i class="fa fa-fw fa-envelope icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Email*</span>
							</label>
						</span>
					</div>
					<div class="form-group">
						<span class="input input--fumi" ng-class="{'input--filled':attendee.school}">
							<input ng-model="attendee.school" class="input__field input__field--fumi" type="text" id="input-school" required>
							<label class="input__label input__label--fumi" for="input-school">
								<i class="fa fa-fw fa-graduation-cap icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">School*</span>
							</label>
						</span>
					</div>
					<div class="form-group">
						<span class="input input--fumi" ng-class="{'input--filled':attendee.links.resume}">
							<input ng-model="attendee.links.resume" class="input__field input__field--fumi" type="text" id="input-resume">
							<label class="input__label input__label--fumi" for="input-resume">
								<i class="fa fa-fw fa-file icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Link to Resume</span>
							</label>
						</span>
					</div>
					<div class="form-group">
						<span class="input input--fumi" ng-class="{'input--filled':attendee.links.github}">
							<input ng-model="attendee.links.github" class="input__field input__field--fumi" type="text" id="input-github">
							<label class="input__label input__label--fumi" for="input-github">
								<i class="fa fa-fw fa-github icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Link to Github</span>
							</label>
						</span>
					</div>

					<div class="form-group">
						<label for="textArea" class="col-lg-2 control-label">References</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="3" id="textArea" ng-model="attendee.references" placeholder="Provide links to anything you can show us. Personal Websites, Past Projects, LinkedIn, etc. The more, the better."></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="transportation" class="col-lg-2 control-label">Transportation</label>
						<div class="col-lg-10">
							<label>We will not be providing travel reimbursement. Busses will be provided for high demand areas.</label>
							<select class="form-control" id="transportation" ng-model="attendee.transportation">
								<option>Driving</option>
								<option>Riding with Friend</option>
								<option>CodeRED Provided Bus</option>
								<option>3rd Party Bus</option>
								<option>Flight</option>
								<option>I live on/near campus</option>
								<option>Other</option>
								<option>test</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="checkbox text-left">
								<label>
									<input type="checkbox" ng-model="attendee.firstHackathon" id="inputFirst"><span class="checkbox-material"><span class="check"></span></span> Is this your first hackathon?
								</label>
								<br>
								<label>
									<input type="checkbox" ng-model="attendee.health_Medical_BioTech_Hack" id="inputHealth"><span class="checkbox-material"><span class="check"></span></span> Do you plan on creating a health, medical, or biotech hack?
								</label>
								<br>
								<label>
									<input type="checkbox" ng-model="attendee.usingHardware" id="inputHardware"><span class="checkbox-material"><span class="check"></span></span> Do you plan on hacking using hardware?
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<button type="submit" class="btn btn-primary btn-raised">Submit</button>
						</div>
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong style="background-color:#eee" data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

